doctype html
html
  head
    title Best Dance Academy
    block scripts
    block style  
  body
    nav#navbar 
      div#logo
        img(src="/static/logo.png")
      ul
        li #[a(href='/') Home]
        li #[a(href='/') About]
        li #[a(href='/contact') Contact]
        li #[a(href='/') Services]
    block content
    footer#footer 
        |©Copyright|All Rights Reserved