//- index.pug
doctype html
html
  head
    style
      include ../static/style.css
  body
   nav#navbar
    ul 
        div#logo
            img(src="/static/logo.png")
        li #[a(href='/') Home]
        li #[a(href='/') About]
        li #[a(href='/') Contact]
        li #[a(href='/') Services]
    
    section#intro-section
        div Welcome to the Dance Academy
        div.small This is the best academy
    section#mission-section
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img1
                    img(src="/static/dance perfection.jpg")
                
                div.card-content
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, nulla!
        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img1
                    img(src="/static/dance2.jpg")
                
                div.card-content
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, nulla!
        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img1
                    img(src="/static/dance3.jpg")
                
                div.card-content
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, nulla!
    section#sponsor-section
        h3 Our Sponsors
        div#sponsors
            img(src="/static/dell.png")
            img(src="/static/hp.png")
            span#spon3
                img(src="/static/oneplus.png")
            span#spon4
                img(src="/static/samsung.png")
    footer#footer 
        |Copyright|All Rights Reserved
    script
      include ../static/index.js